In [180]:
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVR
import numpy as np

In [181]:
iris = pd.read_csv('new_scores2.csv') 

# one line split 
train, validation, test = np.split(iris.sample(frac=1), [int(.6*len(iris)),
int(.8*len(iris))])

In [182]:
set = 5
X_train = train[[train.columns[i] for i in range(train.shape[1]) ]]
X_train.to_csv(f"fold/{set}/train2.csv")
y_train = train[train.columns[-1]]
# Assign the test split
X_test = test[[test.columns[i] for i in range(train.shape[1]) ]]
y_test = test[test.columns[-1]]
X_test.to_csv("fold/test2.csv")
# Assign the validation split
X_val = validation[[validation.columns[i] for i in 
                    range(validation.shape[1]) ]]
y_val = validation[validation.columns[-1]]
X_val.to_csv(f"fold/{set}/val2.csv")

In [183]:
# Print the sets data shapes
print("X_train shape: {}".format(X_train.shape))
print("X_test shape: {}".format(X_test.shape))
print("y_train shape: {}".format(y_train.shape))
print("y_test shape: {}".format(y_test.shape))
print("X_val shape: {}".format(X_val.shape))
print("y_val shape: {}".format(y_val.shape))

X_train shape: (33, 20)
X_test shape: (11, 20)
y_train shape: (33,)
y_test shape: (11,)
X_val shape: (11, 20)
y_val shape: (11,)

In [184]:
X_train
#set = 1
#X_train.to_csv(f"fold/{set}/train.csv")
#X_test.to_csv("fold/test.csv")
#X_val.to_csv(f"fold/{set}/val.csv")

,Unnamed: 0,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,DeltaMADRS,Mean_MeanAct,Mean_Q99Act,Std_MeanAct,Std_Q99Act,CV_MeanAct,CV_Q99Act
17,17,condition_18,13,2,40-44,3.0,2,2.0,11-15,2.0,2.0,18.0,15.0,-3.0,71.438393,665.491429,9.301415,96.547265,0.130202,0.145077
4,4,condition_5,13,2,50-54,2.0,2,2.0,11-15,2.0,2.0,26.0,26.0,0.0,172.622371,1300.538571,46.444164,259.816491,0.269051,0.199776
53,30,control_31,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,333.077480,2210.741429,119.620569,852.528166,0.359137,0.385630
14,14,condition_15,13,2,55-59,2.0,2,2.0,11-15,1.0,1.0,14.0,18.0,4.0,110.199752,1021.992857,60.377039,367.810858,0.547887,0.359896
36,13,control_14,13,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,362.287450,2426.409286,109.543682,390.008329,0.302367,0.160735
30,7,control_8,13,2,40-44,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,380.200787,1970.728667,125.202102,613.697773,0.329305,0.311407
28,5,control_6,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,279.535294,2064.458235,124.969577,572.223333,0.447062,0.277178
39,16,control_17,9,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,242.138194,1395.502857,61.259673,186.730084,0.252995,0.133808
23,0,control_1,8,2,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,193.090712,1747.426875,79.180375,488.183345,0.410068,0.279373
21,21,condition_22,14,1,65-69,2.0,2,1.0,_MISSING_,2.0,2.0,29.0,28.0,-1.0,162.231448,1031.067857,30.468369,170.773109,0.187808,0.165627
8,8,condition_9,13,2,45-49,1.0,_MISSING_,2.0,6-10,1.0,2.0,26.0,26.0,0.0,177.031624,1420.541538,25.805786,151.907215,0.145769,0.106936
29,6,control_7,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,360.261161,2557.209286,127.277609,1520.288118,0.353293,0.594511
34,11,control_12,14,1,60-64,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,139.782917,915.619333,48.599370,190.024036,0.347677,0.207536
52,29,control_30,9,2,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,218.864782,1494.918571,69.881553,450.241729,0.319291,0.301181
35,12,control_13,13,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175.276835,1232.532857,65.257581,264.449572,0.372311,0.214558
37,14,control_15,11,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,291.706300,1873.499286,51.202618,227.396796,0.175528,0.121375
40,17,control_18,13,2,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,282.217659,1642.464286,88.677220,308.698124,0.314216,0.187948
49,26,control_27,13,2,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,315.666720,1808.869231,45.706994,151.597360,0.144795,0.083808
16,16,condition_17,13,1,50-54,1.0,2,2.0,6-10,1.0,2.0,17.0,15.0,-2.0,86.658532,839.977143,11.406454,481.204262,0.131625,0.572878
3,3,condition_4,13,2,25-29,2.0,2,2.0,11-15,1.0,1.0,20.0,16.0,-4.0,286.064732,1710.240714,166.280241,609.340002,0.581268,0.356289
32,9,control_10,8,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,290.439782,1865.657143,83.298433,324.491722,0.286801,0.173929
41,18,control_19,13,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,202.425000,1345.251333,73.011898,374.105650,0.360686,0.278093
11,11,condition_12,12,2,40-44,1.0,2,2.0,6-10,2.0,2.0,25.0,21.0,-4.0,152.202579,1150.928571,63.119931,315.606819,0.414710,0.274219
15,15,condition_16,16,1,45-49,2.0,2,2.0,11-15,1.0,2.0,13.0,17.0,4.0,224.404707,1594.229444,75.568803,377.177396,0.336752,0.236589
33,10,control_11,13,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,189.521726,1413.931429,57.936198,305.621435,0.305697,0.216150
2,2,condition_3,13,1,45-49,2.0,2,2.0,6-10,2.0,2.0,24.0,25.0,1.0,280.810714,1605.270000,61.577770,287.349708,0.219286,0.179004
44,21,control_22,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,251.869395,1615.357143,61.470476,277.488075,0.244057,0.171781
31,8,control_9,13,2,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,141.170370,1145.389333,47.241626,269.018427,0.334643,0.234871
25,2,control_3,12,2,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,249.641270,1502.540000,52.558532,193.967304,0.210536,0.129093
10,10,condition_11,14,1,45-49,2.0,2,2.0,6-10,1.0,2.0,24.0,24.0,0.0,130.193472,1250.976000,64.907332,317.950239,0.498545,0.254162
43,20,control_21,8,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,259.116419,1508.420000,54.876174,215.362106,0.211782,0.142773
47,24,control_25,13,1,65-69,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,305.307490,1768.072857,70.544510,159.587132,0.231061,0.090260
42,19,control_20,13,1,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,322.976574,1850.555333,122.231605,777.743905,0.378453,0.420276

In [185]:
X_test

,Unnamed: 0,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,DeltaMADRS,Mean_MeanAct,Mean_Q99Act,Std_MeanAct,Std_Q99Act,CV_MeanAct,CV_Q99Act
46,23,control_24,13,2,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,357.708978,2635.942143,119.861709,1205.541016,0.335082,0.457347
22,22,condition_23,16,1,30-34,2.0,2,1.0,16-20,2.0,2.0,29.0,23.0,-6.0,246.393505,1555.232353,59.113570,239.210604,0.239915,0.153810
48,25,control_26,13,1,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,315.507726,1826.981875,126.421423,565.803394,0.400692,0.309693
6,6,condition_7,11,1,20-24,1.0,_MISSING_,2.0,11-15,2.0,1.0,24.0,25.0,1.0,295.975588,1651.887692,148.639974,401.224692,0.502203,0.242889
27,4,control_5,13,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,246.008987,1403.467059,132.278665,525.196868,0.537699,0.374214
50,27,control_28,16,2,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,291.968750,1808.226875,43.967642,184.387824,0.150590,0.101972
5,5,condition_6,7,1,35-39,2.0,2,2.0,6-10,1.0,2.0,18.0,15.0,-3.0,194.754861,1428.765000,38.794611,153.984219,0.199197,0.107774
54,31,control_32,14,2,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,156.984375,1248.455000,48.369562,134.236127,0.308117,0.107522
20,20,condition_21,13,2,35-39,2.0,2,1.0,6-10,2.0,2.0,26.0,21.0,-5.0,77.849145,1029.979231,21.376152,185.432604,0.274584,0.180035
38,15,control_16,13,2,40-44,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,225.280602,1300.922000,78.711319,345.452784,0.349392,0.265545
26,3,control_4,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,186.394213,1711.935333,59.268265,298.854188,0.317973,0.174571

In [186]:
X_val

,Unnamed: 0,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,DeltaMADRS,Mean_MeanAct,Mean_Q99Act,Std_MeanAct,Std_Q99Act,CV_MeanAct,CV_Q99Act
7,7,condition_8,5,2,25-29,2.0,_MISSING_,2.0,11-15,1.0,2.0,20.0,16.0,-4.0,200.443750,1804.810000,95.169158,745.719621,0.474792,0.413185
51,28,control_29,13,2,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,266.399802,1747.566429,64.431611,218.619413,0.241861,0.125099
0,0,condition_1,11,2,35-39,2.0,2,2.0,6-10,1.0,2.0,19.0,19.0,0.0,152.199630,1248.365333,59.218240,537.750628,0.389083,0.430764
45,22,control_23,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,197.056746,1215.760714,50.742277,206.531569,0.257501,0.169878
12,12,condition_13,14,2,35-39,1.0,2,2.0,11-15,2.0,2.0,18.0,13.0,-5.0,250.221389,1472.341333,66.762782,202.977926,0.266815,0.137861
19,19,condition_20,13,1,30-34,2.0,1,1.0,6-10,1.0,2.0,27.0,25.0,-2.0,65.370585,721.270000,17.739953,117.814960,0.271375,0.163344
9,9,condition_10,9,2,45-49,2.0,2,2.0,6-10,1.0,2.0,28.0,21.0,-7.0,296.403373,1691.552143,84.898469,256.541836,0.286429,0.151661
18,18,condition_19,13,2,50-54,2.0,2,1.0,16-20,2.0,2.0,26.0,21.0,-5.0,160.592808,1157.206429,72.269296,196.071750,0.450016,0.169435
13,13,condition_14,14,1,60-64,1.0,2,2.0,6-10,2.0,2.0,28.0,19.0,-9.0,73.919345,854.062143,24.937508,322.492206,0.337361,0.377598
24,1,control_2,20,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,407.458697,2044.739048,137.730227,352.116906,0.338023,0.172206
1,1,condition_2,18,2,40-44,1.0,2,2.0,6-10,2.0,2.0,24.0,11.0,-13.0,211.280738,1538.777368,80.924414,528.810407,0.383018,0.343656